@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Color principal: #673de5 */

/* Las variables de css se declaran del: root y su nomnre debe empezar con -- */
:root{
    --color-principal-300: #f5f6ff;
    --color-principal-350: #e2dbfc;
    --color-principal-400: #d5dfff; 
    --color-principal-500: #673de5;
    --color-principal-600: #301c6b;
    --color-principal-700: #1f1346;
    --borde-claro: 1px solid #d5dfff;

}
*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     outline: 1px solid red; */
}

/* REM es una unidad que mide el font-size del htmk de nuestra pagina
1 rem=16px */



html{
    font-size: 16px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    background-color: white;
    align-items: center;
}
header .header-left{
    display: flex;
    flex-direction: row;
    gap:24px;
    flex: 1;
    padding: 20px 40px
}
header .header-left-content{
    display: flex;
    gap:32px;
}
.logo-hostinguer-header{
    height: 30px;
    width: 147px;
}
header .btn-menu{
    display: none;
}
.btn-primary{
    background-color: var(--color-principal-500);
    font-size: 1rem;
    color: var(--color-principal-300);
    font-weight: 700; 
    border: none;
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}
.btn-time{
    background-color: var(--color-principal-350);
    font-size: 1rem;
    color: var(--color-principal-600);
    font-weight: 700; 
    border: none;
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}
.header-left-content__nav{
    align-items: center;
    display: flex;
    gap: 32px;
    font-size: 1rem;
    color: #1D1E20;
    text-decoration: none;    
    overflow: hidden;
    min-width: 0;
    flex: 1;
}

.header-right-content{
    align-items: center;
    display: flex;
    gap: 24px;
    flex-shrink: 1; 
    min-width: 0;  
    overflow: hidden; 
    padding: 20px 40px
}
.header-right-content__img{
    align-items: center;
    display: flex;
    gap:4px;
    flex-shrink: 1;
    min-width: 0;
}
.header-right-content img{
    width: 28px;  
    height: auto;
    flex-shrink: 1;
}
.btn-español{
    background-color: transparent;
    border:none;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;
}
.btn-ingresar{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-size: 0.95rem;
    border: 2px solid black;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 700;
    white-space: nowrap;
    flex-shrink: 1;
    min-width: 0;

}
.nav-item{
    display: flex;
    gap: 4px;
    vertical-align: center;
}
.nav-item i{
  font-size: 1.1em; /* Aumenta el tamaño levemente */
  text-shadow: 0.5px 0.5px 0 black, -0.5px -0.5px 0 black; /* Simula negrita */
  vertical-align: middle; /* Alinea mejor con el texto */
}
.btn-menu{
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    line-height: 24px;
    height: 24px;
    min-width: 24px;
    vertical-align: middle;
    width: 24px;
    padding-right: 36px;
}






.title-max{
    font-size: 2.25em;
    color:  var(--color-principal-600);
    font-weight: 700;
    line-height: 40px;
}
.text-offer{
    font-size: 1.25em;
    color: var(--color-principal-600);
    font-weight: 700;
    padding: 8px 0px 24px;
}
.text-special{
    font-size: 1.25em;
    color: var(--color-principal-500);
    font-weight: 700;
}
.text-green {
    width: 24px;
    height: 24px;
    color: #0db496;
}
.text-price{
    font-size: 1.25em;
    color: var(--color-principal-600);
    font-weight: 400;
}
.text-price-dest{
    font-size: 3em;
    color: var(--color-principal-600);
    font-weight: 700;
}
.hero-content-left__list span{
    font-size: 1em;
    font-weight: 400;
    color: var(--color-principal-600);
} 
.text-warranty{
    font-size: 1em;
    font-weight: 400;
    color: var(--color-principal-600);
}
.hero-content{
    width: 100%;
    max-width: 1472px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 80px 96px;
    font-size: 1rem;
}
.hero-content-left{
    max-width: 436px;
}
.hero-content-button{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-bottom: 12px;

}
.hero-content-left__list{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 24px;
    margin-bottom: 2px;
    gap:10px;
}
.hero-content-right img{
    width: 100%;
    height: auto;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}






.text-medium-dark{
    font-size: 1rem;
    font-weight: 400;
}
.text-color_white{
    color: white;
}
.title-small-dark{
    font-size: 1.125rem;
    font-weight:700;
}
.section_dark{
    background-color: var(--color-principal-700); 
    padding-bottom: 80px;
    padding-top: 80px;   
}
.section-content-dark{
    width: 1208px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.card-review-container-head{
    padding-left: 40px;
    padding-right: 40px;
}
.card-review-container-head h2{
    margin-bottom: 24px;
}
.card-review_content-dark{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    margin-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
}
.card-review-dark {
    display: flex;
    flex-direction: column;
    background-color: var(--color-principal-600);
    border-radius: 16px;
    padding: 32px;
    gap: 16px;
    height: 100%;
     /* Flex es una propiedad de hijo (O sea que el padre de este elemento debe ser una flexbox) */
    flex: 1; /* se dividan equitativamente el espacio */
}
.card-review_header-dark{
    display: flex;
    flex-direction: column;
}
.card-review_header-dark__icon{
    display: flex;
    border-radius: 6px;
    background-color: var(--color-principal-500);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card-review_body-dark{
    display: flex;
}
.btn-primary-dark{
    display: flex;
    padding: 12px 48px;
    border-radius: 6px;
    background-color: var(--color-principal-500);
    align-items: center;
    align-content: center;
    font-weight: 700;
    text-decoration: none;
    margin-top: 32px;
}





.title-medium{
    /* Hacemos regla de tres siemple para saber la cantidad de rem */
    font-size: 2.25rem;
    font-weight: 700;
}
.text-color_blue{
    color: var(--color-principal-600);
}
.title__small{
    font-size: 1.125rem;
    font-weight:700;
}
.text-center{
    text-align: center;
}
.text-medium{
    font-size: 1rem;
    font-weight: 400;
}
.text-small{
    font-size: 0.875rem;
    font-weight: 400;
}
.title-small{
    font-size: 0.875rem;
    font-weight: 400;
}
.btn-secondary{
    background-color: transparent;
    font-size: 1rem;
    color: var(--color-principal-500);
    font-weight: 700; 
    border: 1px solid var(--color-principal-500);
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}


.primary-link {
    font-size: 1rem;
    color: var(--color-principal-500);
    font-weight: 600;

}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.section-blank{
    background-color: white;
    padding-bottom: 80px;
    padding-top: 80px;
}

.section-content{
    width: 100%;
    max-width: 1128px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    
}
.card-review-container{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    margin-bottom: 24px;
    gap: 24px;
}
.card-review{
    display: flex;
    flex-direction: column;
    border: var(--borde-claro);
    border-radius: 16px;
    overflow: hidden;
}
.card-review__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 24px 32px;
    background-color: var(--color-principal-300);
}
.card-review__header img{
    width: 64px;
    height: 64px;
}
.card-review__body{
    display: flex;
    flex-direction: column;
    padding: 32px 32px 40px;
    gap:24px;
}
.card-review__body__rating{
    display: flex;
    flex-direction: row;
    /* GAP espaciado entre objetos o letras */
    gap: 5px;
    color: var(--color-principal-500);
    font-size: 1.125rem;
}



.section-footer-header_bottom-img a{
    font-size: 0.875rem;
    color: var(--color-principal-500);
    font-weight: 700;
    text-decoration: none;
}

.text-medium-hero{
    font-size: 0.875rem;
    color: var(--color-principal-600);
    text-decoration: none;
    font-weight: 400;
}

.section_grey{
    background-color: var(--color-principal-300);
}

.secction-footer{
    display: flex;
    flex-direction: column;
    width: 1128px;
}

.section-footer-header{
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;
    gap:16px
}
.section-footer-header_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-footer-header_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-hostinguer{
    height: 40px;
    width: 147px;
}
.section-footer-header_bottom-img{
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
}
.section-footer-header_bottom-img img{
    height: 40px;
    border-radius: 4px;
    border: 2px solid #d5dfff;
}
.secction-footer-legal-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:16px;
}
.secction-footer-social-icon{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
}
.secction-footer-social-icon i{
    height: 26.88px;
    width: 26.88px;
    color: var(--color-principal-300);
    background-color: var(--color-principal-700);
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid var(--color-principal-700);
    border-radius: 8px;
    text-align: center;
    line-height: 26.88px;
}
.section-footer-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 128px;
    padding: 24px 0;
    border-top: 1px solid #d5dfff;
}


/* Cuando el ancho de mi pagina sea inferior a 1270px ocurrira tal cosa */
@media screen and (max-width: 1270px) { 
    html{
        font-size: 15px;
    }
    .section-content{
        width: 688px;
    }
    .card-review-container{
        flex-direction: column;
    }
}

@media screen and (max-width:1140px){
    html{
        font-size: 14px;
    }
    .section-content{
        max-width: 508px;
    }
    header .header-left-content{
        display: none;
    }
    header .header-right-content{
        display: none;
    }
    header .btn-menu{
        display: flex;
    }
    
}

@media screen and (max-width:1020px){
    .hero-content{
        display: flex;
        flex-direction: column;
    }
    .card-review_content-dark{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {

    .title-max{
        font-size:24px; 
    }

    .hero-content {
        padding: 24px 16px; 
        flex-direction: column; 
        gap: 24px; 
    }
    .hero-content-left__list{
        font-size: 14px;
        padding: 0 0 16px;
    }
    .text-offer{
        font-size: 18px;
        padding:0 0 12px;
    }
    .text-price{
        font-size: 20px;
    }
    .text-price-dest{
        font-size: 36px;
    }
    .text-warranty{
        font-size: 16px;
    }
    .hero-content-button{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .card-review-container-head{
        padding: 0 16px;
        line-height: 24px;
    }
    .card-review_content-dark{
        padding: 0 16px;
    }
    .section_dark{
        padding-top: 56px;
        padding-bottom: 56px;
    }
    
    .title-medium{
        font-size: 24px;
    }
    .text-medium{
        font-size: 16px;
    }
    .title-small-dark{
        font-size: 18px;
    }
    .section-footer-header_top{
        display: flex;
        flex-direction: column-reverse;
        gap:16px;
        padding: 0 16px;
        align-items: flex-start;
    }
    .secction-footer-social-icon{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex:1;
        padding: 16px 0;
    }

    .section-footer-header_bottom {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
        padding: 0 16px;
        align-items: flex-start;
        
    }
    .section-footer-header_bottom-img{
        display: flex;
        flex-wrap: wrap;         
        justify-content: flex-start; 
        gap: 16px;
        padding: 0 16px;
        max-width: 328px;
    }
    .secction-footer-legal-link{
        display: flex;
        flex-wrap: wrap;         
        justify-content: flex-start; 
        gap: 16px;
        padding: 0 16px;
        max-width: 328px;
        font-size: 16px;
    }
    .section-footer-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px 16px 16px;
        gap: 16px;
        font-size: 16px;
    }
    
}